/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
/* 	border:  ; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
  
}
header {
  display: flex;
  justify-content: space-between;
}
/* header */

header nav {
  display: flex;
  justify-content: space-between;
  width: 640px;
  /* width: 691px; */
  vertical-align: top;
  margin-top: 35px;

}

header nav a {
  margin-right: 20px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}
nav .logo {
  display: flex;
  flex-direction: column;
}
header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo { 
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
  
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: inline-block;
  margin-top: 69px;
  margin-bottom: 40px 
}

.main-content {
  display: flex;
  flex-direction: column;
  
}

.main-content .top-content {
  display: flex; 
  
}

.main-content .top-content .text-content {
 border-top: 2px solid black;
 margin-top: 5px;
 padding: 30px;
 
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
  
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.main-content .bottom-content .text-content {
  width: 275px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 12px;
  margin-bottom: 35px;

 
 
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0
}
.bottom-content {
  border-bottom: 2px solid black;
}

.contact {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.contact p {
  display: flex;
  margin-bottom: 20px;
}
.contact {
/*   border: 1px solid red; */
  margin-top: 35px 
}
.contact h4{
  margin-bottom: 20px;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
/**********media query***********/
@media only screen and (max-width: 800px) {
    
    header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px;
    }
    .logo {
        width: 15%
    }
    .cta img {
        display: none;
    }
    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 115px;
        padding: 0px;
        margin: 50px;

    }
    .cta-text {
        
        align-items: flex-start;
        width: auto;
        margin-bottom: 20px;
        padding: 0%;
    
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    
    }
    .cta .cta-text button {
        background: white;
        vertical-align: top;
        margin-top: 6px;
        padding: 8px 44px;
        font-size: 17px;
        border: 1px solid black;
        cursor: pointer;
    }
    .middle-img {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 50px;
        padding: 0%;
    
        
    }
    .top-content {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0%;
        border: 1px
    }
    .main-content .top-content .text-content {
        border-top: 2px solid black;
        margin-top: 50px;
        padding-top: 50px;
        
    }
       .main-content .middle-img {
        margin-top: 20px;
    }

}
@media only screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container header {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: auto;
    }
  
   
    .logo {
        width: 20%;
        margin: none;

    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;     
        width: 400px;   
        margin-bottom: 6%;
      
    }
    /* .cta .cta-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: none;
        padding: none;
        border-bottom: 2px solid black; */
    
    /* } */
    
    .cta-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15%;
        margin-top: 30%;
        padding-bottom: 20%;
        border-bottom: 2px solid black;
        width: 400px;
        margin-left: 24%;
        height: 400px
    
    }
    header nav a {
        display: flex;
        align-content: space-between;
        justify-content: center;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 2%;
        width: 400px;
        font-size: 19px;
        margin-right: 0%
        
    }
    
    div .text-content {
        padding: none;
    }

    .main-content .top-content {
        display: flex;
        flex-direction: column;
        padding: none;
        margin: none;
        margin-top: 5%
        /* justify-content: center;
        width: 400px; */
        
    }
    .main-content .top-content .text-content {
        width: 400px;
        padding: 0;
        margin-top: 10%;
        border-top: none;
    }
  
    .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 400px;
       
    }
    .main-content .bottom-content .text-content {
        width: 400px;
       
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: none;
        margin: none;
            
    }
    .middle-img {
        width: 400px
    }
    .contact {
        display: flex;
        flex-direction: column;
        margin-left: 240px
    }
}
  

